@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #100914;
    background-image: url(assets/stars.png);
    background-size: 15%;
    font-family: "Archivo black", monospace;
    color: #eed2ff;
    font-weight: 300;
}

::-moz-selection {
    color: #eed2ff;
    background: #b090c43a;
}

::selection {
    color: #eed2ff;
    background: #b090c43a
}

.header-1 {
    padding-top: 60px;
    height: 25vh;
    background-color: #cb9de604;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #b090c43a;
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
}

@media (max-width: 768px) {
  .header-1 {
    padding: 20px;
    padding-top: 60px;
    height: 30vh;
  }

  .no-pc {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .no-mobile {
    display: none !important;
  }
}


.footer {
    padding-left: 40px;
    height: 25vh;
    background-color: #130b18;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #b090c43a;
    z-index: 100;
    position: relative;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
    gap: 25px; /* Space between the links */
}

.footer a {
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
    color: #c28ce0;
    transition: 0.5s;
}

.footer-link:hover {
    text-decoration: none;
    color: #a64fd8;
    transition: 0.5s;
}

.marg {
    text-align: center;
    max-width: 300px;
}

.marg2 {
    text-align: center;
    max-width: 450px;
}

.container-tlpr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
    /* Space between text-content and image */
}

@media (max-width: 768px) {
  .container-tlpr {
      flex-direction: column;
  }

  .image-container {
      order: -1;
      width: 100%;
      text-align: center;
  }

  .image-container img {
      max-width: 100%;
      height: 200px;
      width: 200px;
  }

  .text-content {
      width: 100%;
  }
}

.mt1 {
    font-weight: 1000 !important;
    font-size: 40px !important;
    vertical-align: middle;
}

.mt2 {
    font-family: 'Material Symbols Rounded';
    font-weight: 200 !important;
    font-size: 18px !important;
    vertical-align: middle;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.container-tlpr img {
    max-width: 100%;
    height: 300px;
    width: 320px;
    border-radius: 15px;
}

.container-pltr {
    margin: 20px;
}

btn-nav {
    display: flex;
    gap: 10px;
    /* Adjust the gap between buttons as needed */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}

.btn-primary {
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    color: #eed2ff;
    background-color: #cb9de61e;
    text-decoration: none;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    border: 1px solid #b090c43a;
    transition: 1s;
}

.btn-primary:hover {
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    color: #eed2ff;
    background-color: #cb9de64f;
    text-decoration: none;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    border: 1px solid #b090c43a;
    transition: 1s;
}

.btn-secondary{
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    color: #eed2ff;
    background-color: #cb9de61e;
    text-decoration: none;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    border: 1px solid #b090c43a;
    transition: 1s;
    -webkit-box-shadow:0px 0px 94px 11px rgba(126,90,173,0.61);
    -moz-box-shadow: 0px 0px 94px 11px rgba(126,90,173,0.61);
    box-shadow: 0px 0px 94px 11px rgba(126,90,173,0.61);
    z-index: 1;
    position: relative;
}

.btn-secondary:hover {
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    color: #eed2ff;
    background-color: #cb9de64f;
    text-decoration: none;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    border: 1px solid #b090c43a;
    transition: 1s;
    -webkit-box-shadow:0px 0px 129px 15px rgba(126,90,173,0.61);
-moz-box-shadow: 0px 0px 129px 15px rgba(126,90,173,0.61);
box-shadow: 0px 0px 129px 15px rgba(126,90,173,0.61);
z-index: 1;
position: relative;
}

.gradient1 {
    background-image: linear-gradient(165deg, #ff9900, #a64fd8) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

.gradient1-alt {
    background-image: linear-gradient(165deg, #f3b8ff, #b02dfc) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

.gradient2 {
    background-image: linear-gradient(45deg, #a64fd8, #ff9900);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.gradient3 {
    background-image: linear-gradient(200deg, #a64fd8, #ff9900);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}



.focus-in-expand {
    animation: focus-in-expand 1s cubic-bezier(.25, .46, .45, .94) both
}

.text2 {
    max-width: 700px;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-28 17:31:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes focus-in-expand {
    0% {
        letter-spacing: -.5em;
        filter: blur(12px);
        opacity: 0
    }

    100% {
        filter: blur(0);
        opacity: 1
    }
}

.focus-in-secondary {
    animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-28 17:33:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes focus-in-contract-bck {
    0% {
        transform: translateZ(300px);
        filter: blur(12px);
        opacity: 0
    }

    100% {
        transform: translateZ(12px);
        filter: blur(0);
        opacity: 1
    }
}


.nav {
    position: fixed;
    background-color: #13131500;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    display: flex;
    height: 70px;
  }
  
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }
  
  @media screen and (max-width: 820px) {
    .visDesktop {
      display: none;
    }
  
    .nav ul {
      display: none;
    }
  }
  
  @media screen and (min-width: 821px) {
    .visMobile {
      display: block;
    }
  
    .nav ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: center;
    }
  
    .nav-item.mobile-show {
      display: none;
      /* Hide the "NAV" link on screens wider than 820px */
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  
    .dropdown-content a {
      display: block;
      padding: 12px 16px;
      text-decoration: none;
      color: #333;
    }
  
    .dropdown-content a:hover {
      background-color: #ddd;
    }
  }
  
  /* Hide the widget on screens 820px or smaller */
  @media screen and (max-width: 820px) {
    .statuspage-widget {
      display: none;
    }
  
    .dropdown-content {
      display: none;
    }
  
    .nav-item-mobile {
      display: block;
      /* Show the "NAV" link */
    }
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav.active {
    background-color: rgba(76, 50, 92, 0.604);
    box-shadow: 0 2px 10px rgba(76, 50, 92, 0.842);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    display: flex;
    height: 50px;
  }
  
  .nav.active .container {
    padding: 10px 0;
  }
  
  .nav a.current,
  .nav a:hover {
    color: #b062dd;
    font-weight: bold;
  }
  
  